:root {
  /* Colors */
  --color-black: #000000;
  --color-light-black: #7a7a7a;
  --color-white: #ffffff;
  --color-text: var(--color-black);
  --color-line: rgba(0, 0, 0, 0.25);
  --color-background: #f3f3f3;

  /* Shadows */
  --shadow-soft: 10px 10px 24px rgb(0 0 0 / 5%);
  --shadow-default: 10px 10px 60px rgb(0 0 0 / 40%);

  /* Skeleton */
  --color-skeleton-light: var(--color-primary-10);
  --color-skeleton-dark: var(--color-primary-10);

  /* Typography */
  --font-family-base-primary: 'Inter';
  --line-height-base: 1.2;
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --h1-font-size: 40px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;

  /* Border */
  --border-radius-small: 12px;

  /* Spacing */
  --container-width-s: 1000px;
  --container-width-m: 1400px;
  --container-padding: 16px;
}
